In [1]:
import pymongo

In [2]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["tknishh"]

In [3]:
mycol = mydb["names"]

In [4]:
mydict = { "name": "John", "address": "Highway 37" }

In [5]:
x = mycol.insert_one(mydict)

In [6]:
mydict = { "name": "Peter", "address": "Lowstreet 27" }

x = mycol.insert_one(mydict)

print(x.inserted_id)

62e1261042b26c086419c72d

In [7]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

In [8]:
print(myclient.list_database_names())

['admin', 'config', 'local', 'tknishh']

In [10]:
dblist = myclient.list_database_names()
if "tknishh" in dblist:
  print("The database exists.")

The database exists.

In [13]:
x = mycol.find_one()
x

{'_id': ObjectId('62e1260e42b26c086419c72c'),
 'name': 'John',
 'address': 'Highway 37'}

In [15]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('62e1260e42b26c086419c72c'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('62e1261042b26c086419c72d'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('62e128d142b26c086419c72e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('62e128d142b26c086419c72f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('62e128d142b26c086419c730'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('62e128d142b26c086419c731'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62e128d142b26c086419c732'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('62e128d142b26c086419c733'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62e128d142b26c086419c734'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('62e128d142b26c086419c735'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62e128d142b26c086419c736'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('62e128d142b26c086419c737'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('62e128d142b26c086419c738'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('62e128d142b26c086419c739'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [24]:
 for x in mycol.find({},{ "name": 0 }):
  print(x)

{'_id': ObjectId('62e1260e42b26c086419c72c'), 'address': 'Highway 37'}
{'_id': ObjectId('62e1261042b26c086419c72d'), 'address': 'Lowstreet 27'}
{'_id': ObjectId('62e128d142b26c086419c72e'), 'address': 'Apple st 652'}
{'_id': ObjectId('62e128d142b26c086419c72f'), 'address': 'Mountain 21'}
{'_id': ObjectId('62e128d142b26c086419c730'), 'address': 'Valley 345'}
{'_id': ObjectId('62e128d142b26c086419c731'), 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62e128d142b26c086419c732'), 'address': 'Green Grass 1'}
{'_id': ObjectId('62e128d142b26c086419c733'), 'address': 'Sky st 331'}
{'_id': ObjectId('62e128d142b26c086419c734'), 'address': 'One way 98'}
{'_id': ObjectId('62e128d142b26c086419c735'), 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62e128d142b26c086419c736'), 'address': 'Park Lane 38'}
{'_id': ObjectId('62e128d142b26c086419c737'), 'address': 'Central st 954'}
{'_id': ObjectId('62e128d142b26c086419c738'), 'address': 'Main Road 989'}
{'_id': ObjectId('62e128d142b26c086419c739'), 'address': 'Sideway 1633'}