In [1]:
import pymongo

In [2]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["tknishh"]

In [3]:
mycol = mydb["names"]

In [4]:
mydict = { "name": "John", "address": "Highway 37" }

In [5]:
x = mycol.insert_one(mydict)

In [6]:
mydict = { "name": "Peter", "address": "Lowstreet 27" }

x = mycol.insert_one(mydict)

print(x.inserted_id)

62e14716187c8f79e9452788

In [7]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

In [8]:
print(myclient.list_database_names())

['admin', 'config', 'local', 'tknishh']

In [9]:
dblist = myclient.list_database_names()
if "tknishh" in dblist:
  print("The database exists.")

The database exists.

In [10]:
x = mycol.find_one()
x

{'_id': ObjectId('62e1465042b26c086419c73d'),
 'name': 'John',
 'address': 'Highway 37'}

In [11]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('62e1465042b26c086419c73d'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('62e1465142b26c086419c73e'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('62e1465342b26c086419c73f'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('62e1465342b26c086419c740'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('62e1465342b26c086419c741'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('62e1465342b26c086419c742'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62e1465342b26c086419c743'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('62e1465342b26c086419c744'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('62e1465342b26c086419c745'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('62e1465342b26c086419c746'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62e1465342b26c086419c747'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('62e1465342b26c086419c748'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('62e1465342b26c086419c749'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('62e1465342b26c086419c74a'), 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': ObjectId('62e14716187c8f79e9452787'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('62e14716187c8f79e9452788'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('62e14716187c8f79e9452789'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('62e14716187c8f79e945278a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('62e14716187c8f79e945278b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('62e14716187c8f79e945278c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62e14716187c8f79e945278d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('62e14716187c8f79e945278e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62e14716187c8f79e945278f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('62e14716187c8f79e9452790'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62e14716187c8f79e9452791'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('62e14716187c8f79e9452792'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('62e14716187c8f79e9452793'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('62e14716187c8f79e9452794'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [12]:
 for x in mycol.find({},{ "name": 0 }):
  print(x)

{'_id': ObjectId('62e1465042b26c086419c73d'), 'address': 'Highway 37'}
{'_id': ObjectId('62e1465142b26c086419c73e'), 'address': 'Lowstreet 27'}
{'_id': ObjectId('62e1465342b26c086419c73f'), 'address': 'Apple st 652'}
{'_id': ObjectId('62e1465342b26c086419c740'), 'address': 'Mountain 21'}
{'_id': ObjectId('62e1465342b26c086419c741'), 'address': 'Canyon 123'}
{'_id': ObjectId('62e1465342b26c086419c742'), 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62e1465342b26c086419c743'), 'address': 'Green Grass 1'}
{'_id': ObjectId('62e1465342b26c086419c744'), 'address': 'Sky st 331'}
{'_id': ObjectId('62e1465342b26c086419c745'), 'address': 'One way 98'}
{'_id': ObjectId('62e1465342b26c086419c746'), 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62e1465342b26c086419c747'), 'address': 'Park Lane 38'}
{'_id': ObjectId('62e1465342b26c086419c748'), 'address': 'Central st 954'}
{'_id': ObjectId('62e1465342b26c086419c749'), 'address': 'Main Road 989'}
{'_id': ObjectId('62e1465342b26c086419c74a'), 'address': 'Sideway 1633'}
{'_id': ObjectId('62e14716187c8f79e9452787'), 'address': 'Highway 37'}
{'_id': ObjectId('62e14716187c8f79e9452788'), 'address': 'Lowstreet 27'}
{'_id': ObjectId('62e14716187c8f79e9452789'), 'address': 'Apple st 652'}
{'_id': ObjectId('62e14716187c8f79e945278a'), 'address': 'Mountain 21'}
{'_id': ObjectId('62e14716187c8f79e945278b'), 'address': 'Valley 345'}
{'_id': ObjectId('62e14716187c8f79e945278c'), 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62e14716187c8f79e945278d'), 'address': 'Green Grass 1'}
{'_id': ObjectId('62e14716187c8f79e945278e'), 'address': 'Sky st 331'}
{'_id': ObjectId('62e14716187c8f79e945278f'), 'address': 'One way 98'}
{'_id': ObjectId('62e14716187c8f79e9452790'), 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62e14716187c8f79e9452791'), 'address': 'Park Lane 38'}
{'_id': ObjectId('62e14716187c8f79e9452792'), 'address': 'Central st 954'}
{'_id': ObjectId('62e14716187c8f79e9452793'), 'address': 'Main Road 989'}
{'_id': ObjectId('62e14716187c8f79e9452794'), 'address': 'Sideway 1633'}

In [13]:
query = { 'address': {"$gt": "T"}}
mydoc = mycol.find(query)

for x in mydoc:
    print(x)

{'_id': ObjectId('62e1465342b26c086419c746'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62e14716187c8f79e945278b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('62e14716187c8f79e9452790'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}

In [14]:
query = { 'address': {"$regex": "^S"}}
mydoc = mycol.find(query)

for x in mydoc:
    print(x)

{'_id': ObjectId('62e1465342b26c086419c744'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('62e1465342b26c086419c74a'), 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': ObjectId('62e14716187c8f79e945278e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62e14716187c8f79e9452794'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [16]:
sortdoc = mycol.find().sort("address")  #by default ascending
print(x)

{'_id': ObjectId('62e14716187c8f79e9452794'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [17]:
sortdoc = mycol.find().sort("address",-1)   #-1 for descending
for x in sortdoc:
    print(x)

{'_id': ObjectId('62e1465342b26c086419c746'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62e14716187c8f79e9452790'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62e14716187c8f79e945278b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('62e1465342b26c086419c744'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('62e14716187c8f79e945278e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62e1465342b26c086419c74a'), 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': ObjectId('62e14716187c8f79e9452794'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('62e1465342b26c086419c747'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('62e14716187c8f79e9452791'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('62e1465342b26c086419c745'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('62e14716187c8f79e945278f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('62e1465342b26c086419c742'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62e14716187c8f79e945278c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62e1465342b26c086419c740'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('62e14716187c8f79e945278a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('62e1465342b26c086419c749'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('62e14716187c8f79e9452793'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('62e1465142b26c086419c73e'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('62e14716187c8f79e9452788'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('62e1465042b26c086419c73d'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('62e14716187c8f79e9452787'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('62e1465342b26c086419c743'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('62e14716187c8f79e945278d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('62e1465342b26c086419c748'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('62e14716187c8f79e9452792'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('62e1465342b26c086419c741'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('62e1465342b26c086419c73f'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('62e14716187c8f79e9452789'), 'name': 'Amy', 'address': 'Apple st 652'}

In [18]:
myquery = { "address": "Park Lane 38" }
mycol.delete_one(myquery)

In [19]:
myquery = { "address": {"$regex": "^S"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

4  documents deleted.

In [20]:
x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

23  documents deleted.

In [21]:
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mycol.drop()

In [28]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["tknishh"]
mycol = mydb["names"]

mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

In [29]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('62e1479e187c8f79e9452797'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('62e1479e187c8f79e9452798'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('62e1479e187c8f79e9452799'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('62e1479e187c8f79e945279a'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62e1479e187c8f79e945279b'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('62e1479e187c8f79e945279c'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62e1479e187c8f79e945279d'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('62e1479e187c8f79e945279e'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62e1479e187c8f79e945279f'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('62e1479e187c8f79e94527a0'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('62e1479e187c8f79e94527a1'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('62e1479e187c8f79e94527a2'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [30]:
myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

2 documents updated.

In [31]:
mydoc = mycol.find().limit(2)
for x in mydoc:
    print(x)

{'_id': ObjectId('62e1479e187c8f79e9452797'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('62e1479e187c8f79e9452798'), 'name': 'Hannah', 'address': 'Mountain 21'}